
  <div class="container" style="width:500px;" >
  <div class="jumbotron" >
    <h3 style="color:coral">welcome user :{{admin}}{{employee}}{{manager}}{{support}}</h3>

  <h2>change password</h2>
{{#if msg}}
  <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{msg}}</strong>
  </div>
{{/if}}

  <form action="/changeprofile" method="post">
{{#each data}}
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email"  value="{{this.email}}" class="form-control" id="email" placeholder="Enter email" name="uid" required readonly>
    </div>

        <div class="form-group">
          <label for="email">name:</label>
          <input type="text" class="form-control" id="email" placeholder="Enter name" value="{{this.name}}"  name="uname"required>
        </div>
        <div class="form-group">
          <label for="email">mobile no:</label>
          <input type="text" class="form-control" id="email" placeholder="Enter mobile no." value='{{this.mobile}}' name="umob"required>
        </div>
    <div class="form-group">
      <label for="pwd">current Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" value="{{this.password}}"  name="cpwd" required>
    </div>
    <div class="form-group">
      <label for="pwd"> new Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" value="{{this.password}}"  name="npwd" required>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

  </form>
  {{/each}}
  
</div>
</div>
