

    <!DOCTYPE html>
    <html>
    <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin:auto;
      text-align: center;
      font-family: arial;
    }

    .title {
      color: grey;
      font-size: 18px;
    }

    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }

    button:hover, a:hover {
      opacity: 0.7;
    }
    </style>
    </head>
    <body>
      <div class="jumbotron">
        <div class="container" style="width:900px;">


                  {{#if msg}}
                      <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      <strong>{{msg}}</strong>
                      </div>
                    {{/if}}


    {{#each data}}

    <div class="card">
      <h2 style="text-align:center">User Profile </h2>

      <img src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="John" style="width:100%">
      <h1>{{this.name}}</h1>
      <p class="title">{{this.designation}},at google</p>
      <p class="title">password :{{this.password}}</p>

      <p> MERN stack developer</p>
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </div>
      <p><button>Contact</button></p>
      <p><button>{{this.mobile}}</button></p>
      <p>
      <a href="/changeprofile"><i class="fa fa-fw fa-wrench"  class="btn btn-info btn-lg"></i>change details</a>
      </p>

    </div>
{{/each}}
</div>
</div>

    </body>
    </html>
